@font-face {
    font-family: Fat;
    src: url('fonts/dk_moonlight_serenade.otf');
}

/*
 * Form
 */
.location-form {
}

.form-group {
    margin-top: 20px;
}

.location-form label {
    color: #fff;
    font-size: 21px;
}

.md-input-focused label {
    color: #fff !important;
}

*:focus {
    outline: 0 !important;
}

input {
    color: #fff !important;
    font-size: 30px;
}

/*
 * Flag
 */
.flag {
    min-height: 335px;
    text-align: center;
    font-size: 35px;
}

.flag-left {
    font-family: Fat;
}
.flag-right {
    background-color: #E0162B;
    color: #fff;
    font-family: Fat;
}

.flag-right p {
    font-size: 50px;
}

.flag-bottom {
    background-color: #0052A5;
    height: 100%;
}

.location-form {
    position: relative;
    width: 77%;
    margin: 0 auto;
    padding-top: 5%;
    font-family: Fat;
}

.star-icon {
    width: 180px;
    height: 180px;
    cursor: pointer;
}

.star-icon-text {
    position: absolute;
    /* font-family: Roboto,"Helvetica Neue",sans-serif; */
    top: 45%;
    left: 0;
    text-align: center;
    font-size: 22px;
    width: 100%;
}

.star-container {
    position: relative;
}


.star-loading {
    transition: all 1s ease;
    -webkit-animation: rot 4s infinite;
        animation: rot 4s infinite;
}

@keyframes rot {
    to { transform: rotate(360deg) translateZ(0); }
}

/*
 * Results List
 */

.results-list {
}

/*
 * Modal
 */

.modal {
    position: absolute;
    z-index: 100;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    -webkit-animation: animateModal 0.5s;
        animation: animateModal 0.5s;
}

.modal .close-icon {
    margin: 20px;
}

@keyframes animateModal {

    from {
        opacity: 0;
        top: 100%;
    }

    to {
        opacity: 1;
        top: 0;
    }

}
